<article class="news-card reveal searchable-card">
  <div class="news-image"><img src="<%= berita[:gambar] %>" alt="<%= berita[:judul] %>"></div>
  <div class="news-body">
    <div class="news-top"><span><%= berita[:kategori] %></span><time><%= berita[:tanggal] %></time></div>
    <h3><%= berita[:judul] %></h3>
    <p><%= berita[:isi] %></p>
    <a href="#">Baca selengkapnya →</a>
  </div>
</article>
