<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @title || @sekolah[:nama] %></title>
  <meta name="description" content="<%= @description || 'Website resmi SMA Negeri 1 Adiankoting.' %>">
  <meta name="keywords" content="SMA Negeri 1 Adiankoting, sekolah, profil sekolah, akademik, berita, galeri">
  <meta name="author" content="SMA Negeri 1 Adiankoting">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%= component :_preloader %>
  <%= component :_header %>
  <main><%= yield %></main>
  <%= component :_footer %>
  <script src="/js/script.js"></script>
</body>
</html>
